body{
	padding-bottom: 40px;
	}
#titulo_topo{
	float:right;
	}
#home{
	margin-top:60px;
	}
#home2, #quem-somos{
	padding-top:32px;
	}
#origem{
	padding-top:90px;
	}
#cadastro{
	padding-top:192px;
	}
footer{
	height:200px;
	}