body{
	padding-bottom: 40px;
	}
#titulo_topo{
	float:right;
	}
#home{
	margin-top:60px;
	}
#home2, #quem-somos{
	padding-top:32px;
	}
#origem{
	padding-top:145px;
	}
#cadastro{
	padding-top:170px;
	}
#cad{
	padding-top:25px;
	}
#cad #s_conf{
	opacity:0;
	}
#contato{
	padding-top:140px;
	}
#footer{
	margin-top:50px;
	padding-top:30px;
	border-top:1px solid #999;
	}